<div class="drawer">
  <input #drawerCheckbox id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
      <label for="my-drawer" class="btn btn-primary drawer-button"
        >Close drawer</label
      >
      <!-- Sidebar content here -->
      <li>
        <a
          (click)="closeDrawer()"
          routerLink="/buying"
          routerLinkActive="active"
          class="link"
          >Go to buying</a
        >
        <a
          (click)="closeDrawer()"
          routerLink="/selling"
          routerLinkActive="active"
          class="link"
          >Go to selling</a
        >
        <a
          (click)="closeDrawer()"
          routerLink="/regulation"
          routerLinkActive="active"
          class="link"
          >Go to regulation</a
        >
        <a
          (click)="closeDrawer()"
          routerLink="/stock"
          routerLinkActive="active"
          class="link"
          >Go to stock</a
        >
      </li>
    </ul>
  </div>
</div>
